.sales{
    margin-bottom: 25px;
    text-align: right;
}
.sales__container{
    height: 700px;
}

.sales__title{
    margin-bottom: 75px;
}

.sales__text{
    margin-bottom: 75px;
}

.sales__products {
    display: flex;
    gap: 30px;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
  }
  .catalog__card-item {
    box-shadow: 0 0 30px rgba(146, 146, 146, 0.2);
    border-radius: 20px;
    padding: 15px;
    display: grid;
    justify-items: center;
    column-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 0.5fr);
    word-break: break-all;
  }
  .catalog__card-taste{
    margin-bottom: 8px;
  }
  .catalog__card-circles{
    display: flex;
    justify-content: center;
  }
  .catalog__card-title {
    grid-area: 2 / 2 / 3 / 3;
  }
  .catalog__card-roast {
    grid-area: 3 / 2 / 4 / 3;
  }
  .catalog__card-sour {
    grid-area: 4 / 2 / 5 / 3;
  }
  .catalog__card-bitter {
    grid-area: 5 / 2 / 6 / 3;
  }
  .catalog__card-price {
    grid-area: 6 / 1 / 7 / 2;
    align-self: flex-end;
  }
  .catalog__card-old-price{
    text-decoration: line-through;
    color: #C6C6C6;
    font-size: 18px;
  }
  .catalog__card-discount {
    grid-area: 7 / 1 / 8 / 2;
    align-self: center;
  }
  .catalog__card-btn {
    grid-area: 7 / 2 / 8 / 3;
    font-size: 16px;
    width: 100%;
  }
  .catalog__card-img-container {
    grid-area: 2 / 1 / 6 / 2;
  }
  .catalog__card-img {
    border-radius: 20px;
  }
  
  .catalog__card-sale {
    color: #f9b300;
    font-family: Gilroy__Bold;
    margin-bottom: 10px;
    justify-self: flex-start;
  }
  
  .circle {
    margin-right: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background-color: #f0f0f0;
  }
  
  .circle.filled {
    background-color: #f9b300;
  }