.products{
    position: relative;
    margin-bottom: 100px;
}

.products::before{
    content: url('/img/left_decoration.png');
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
}

.products__title{
    margin-bottom: 95px;
}