@media (max-width: 1725px) {
    .products::before{
        display: none;
    }
    .advantages__link {
        top: 100%;
}
}

@media (max-width: 1475px) {
    .header::after{
        display: none;
    }
    .poster__image{
        right: 0px;
    }
    .advantages__link {
        padding: 15px 30px;
    }
}

@media(max-width: 1390px) {
    .advantages__content {
        gap: 15px;
}
.list__item {
    gap: 20px;
}
.advantages__title {
    font-size: 45px;
}
.advantages__link {
    left: 70%;
}
}

@media (max-width: 1235px) {
    .header{
        margin-bottom: 30px;
    }
    .burger-menu {
        display: block;
    }
    .header__nav{
        display: none;
    }
    .poster {
        margin-bottom: 100px;
    }
    h1{
        margin-bottom: 60px;
    }
    .poster__text + .poster__text {
        margin-bottom: 65px;
    }
    .poster__image{
        display: none;
    }
    .poster__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .poster__content .second__line{
        display: inline;
    }
    .product__card__item {
        padding: 40px 10px;
    }
    .product__link {
        padding: 17px 90px;
    }
    .product__card-title {
        font-size: 25px;
    }
    .sales__products {
        flex-direction: column;
        align-items: center;
    }
    .catalog__card-item{
        width: 80%;
    }
    .advantages__content {
        flex-direction: column;
    }
    .advantages__image{
        width: 500px;
        height: 420px;
    }
    .advantages__title .second__line{
        display: inline;
    }
    .advantages__title{
        text-align: center;
    }
    .list__title {
        margin-bottom: 15px;
    }
    .cart-icon{
        display: none;
    }
}

@media (max-width: 1120px) {
    .advantages__link {
        padding: 10px 15px;
        font-size: 25px;
    }
    h1{
        font-size: 60px;
        margin-bottom: 40px;
    }
    .poster {
        margin-bottom: 75px;
    }
    .product__img-container {
        height: 230px;
        margin-bottom: 10px;
    }
    .products {
        margin-bottom: 80px;
    }
    .sales__title {
        margin-bottom: 50px;
    }
    h2{
        font-size: 40px;
    }
    .sales__text .second__line{
        display: inline;
    }
    .product__card-title {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 1090px){
    .poster__text{
        text-align: center;
    }
    .poster__text + .poster__text {
        margin-bottom: 45px;
    }
    .products__title {
        margin-bottom: 60px;
    }
}

@media (max-width: 1024px){
    .advantages__title {
        font-size: 35px;
        margin-bottom: 50px;
    }
    .advantages__image {
        width: 460px;
        height: 380px;
    }
    .list__img {
        width: 60px;
        height: 60px;
    }
    .list__title {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .list__description{
        font-size: 20px;
    }
    .list__text {
        margin-bottom: 30px;
    }
}

@media (max-width: 965px){
    .product__link {
        padding: 10px 60px;
        font-size: 20px;
    }
    .product__card-title {
        font-size: 23px;
    }
    .product__img-container {
        height: 180px;
    }
    h1 {
        font-size: 55px;
        margin-bottom: 25px;
    }
    .poster__text {
        margin-bottom: 35px;
    }
    .poster__link {
        font-size: 25px;
        padding: 17px 40px;
    }
    h2 {
        font-size: 35px;
    }
    .sales__text{
        font-size: 22px;
    }
    .sales__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 850px){
    .advantages__link {
        left: 60%;
    }
    .product__card__item {
        width: 50%;
    }
    .product__img-container {
        height: 250px;
    }
    .account__link-catalog,
    .account__link{
        font-size: 20px;
    }
}

@media (max-width: 680px){
    .header {
        margin-bottom: 10px;
    }
    h1 {
        font-size: 40px;
    }
    .poster__text {
        margin-bottom: 24px;
        font-size: 20px;
    }
    .poster__text + .poster__text {
        margin-bottom: 35px;
    }
    .poster__link {
        font-size: 20px;
    }
    .poster {
        margin-bottom: 50px;
    }
    h2 {
        font-size: 28px;
    }
    .product__img-container {
        height: 200px;
    }
    .advantages__link {
        font-size: 20px;
    }
    .advantages__title {
        font-size: 30px;
        margin-bottom: 35px;
    }
    .advantages__image {
        width: 405px;
        height: 340px;
    }
    .account__link-catalog,
    .account__link{
        font-size: 17px;
    }
    .cart__products{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .cart__item {
        justify-content: space-around;
        align-items: start;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 575px){
    h1{
        text-align: center;
    }
    .catalog__card-old-price, 
    .catalog__card-price{
        align-self: center;
    }
    .catalog__card-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }
    .catalog__card-btn{
        padding: 10px;
    }
    .advantages__link {
        top: 97%;
        left: 45%;
    }
    .nav__list a {
        font-size: 17px;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .account__link-catalog,
    .account__link{
        padding: 15px;
    }
}

@media (max-width: 490px){
    .product__card-title {
        font-size: 20px;
    }
    .product__link {
        font-size: 16px;
    }
    .products {
        margin-bottom: 40px;
    }
    .sales__title {
        margin-bottom: 20px;
    }
    .sales__text {
        font-size: 19px;
        margin-bottom: 50px;
    }
    .advantages__link{
        display: none;
    }
    .advantages__image {
        width: 333px;
        height: 290px;
    }
    .account__link-catalog,
    .account__link{
        width: 100px;
        padding: 25px;
        font-size: 15px;
    }
    .catalog__title{
        font-size: 30px;
    }
}

@media (max-width: 425px){
    .product__img-container {
        height: 130px;
    }
    .product__card-title {
        font-size: 18px;
    }
    .product__link {
        padding: 8px 45px;
        font-size: 13px;
    }
    .products__title {
        margin-bottom: 35px;
    }
}

@media (max-width: 370px){
    h1 {
        font-size: 32px;
    }
    .poster__text {
        margin-bottom: 18px;
        font-size: 17px;
    }
    .poster__text + .poster__text {
        margin-bottom: 25px;
    }
    .product__card__item {
        width: 70%;
    }
    h2{
        font-size: 28px;
        text-align: center;
    }
    .sales__text{
        text-align: center;
    }
    .advantages__image {
        width: 300px;
        height: 260px;
    }
    .catalog__title {
        font-size: 25px;
    }
}