.nav__list{
    display: flex;
    gap: 30px;
}

.nav__list{
    position: relative;
}

.nav{
    margin-right: 50px;
    margin-bottom: 10px;
}

.burger-menu .nav__list{
    flex-direction: column;
    align-items: center;
}