.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    color: #FFF;
    background-color: #F9B300;
    border-radius: 5px;
    font-family: Gilroy__Black;
    transition: ease-in-out 0.2s;
}

.btn:hover{
    background-color: #E2A300;
}

.btn__google{
    padding: 10px;
    font-size: 18px;
}