.catalog{
    margin-bottom: 20px;
    padding: 15px;
}
.catalog__title{
    color: #FFF;
    text-align: center;
}
.catalog__text{
    margin-bottom: 30px;
    background-color: #F9B300;
    border-radius: 50px;
}
.catalog__product{
    margin-bottom: 30px;
    height: 800px;
}